body {
    background-color: palevioletred;
}
.container {
    margin: auto;
    width: 50%;
    padding: 10px;
}
h1 {
    color:darkslategrey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   text-align: center;
}